.resultWrapper {
  @include make-col-ready();

  @include media-breakpoint-up(md) { @include make-col(4) }
  @include media-breakpoint-up(xl) { @include make-col(3) }
  @media (min-width: 1500px)       { @include make-col(2) }
}
.sidebarToggled {
  .resultWrapper {
    @include media-breakpoint-up(md) { @include make-col(6) }
    @include media-breakpoint-up(lg) { @include make-col(3) }
    @include media-breakpoint-up(xl) { @include make-col(2) }
  }
}
.result {
  margin:0 0 20px;
  background: #fff;
  box-shadow: 0 1px 3px #aaa;
  overflow: hidden;
  img {
    width: 100%;
  }
  .url {
    text-overflow: ellipsis;
    overflow: hidden;
  }
  p {
    margin: 0.5rem 1rem;
    &.title {
      @extend .small;
    }
    &.body {
      font-style: italic;
      color: $gray-600;
    }
    &.badge-group {
      display: flex;
      flex-wrap: wrap;
      // align-items: flex-start;
      .badge {
        font-weight: normal;
        margin: 0 0.5em 0.5em 0;
        flex: 1;
      }
    }
  }
}
