$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

$expanded-size: 360px;
$collapsed-size: 64px;

#sidebar-wrapper {
  background: #000;
  color: $gray-100;
}
#wrapper {
  @include transition(all 0.5s ease);
}
@include media-breakpoint-down(sm) {
  #wrapper {
    #sidebar-wrapper {
      @include transition(all 0.5s ease);
      position: sticky;
      height: 3rem;

      overflow: hidden;
      overflow-y: scroll;

      // @TODO - try to @extend .sticky-top?
      position: sticky;
      top: 0;
      z-index: $zindex-sticky;

      opacity: 0.75;

      .form-group {
        position: absolute;
        top: -2.6em;
        left: 3.5em;
        right: 15px;
        margin: 0;
        .input-group {
          // @TODO - cant extend :(;
          // @extend .input-group-sm;
          & > .form-control,
          & > .input-group-prepend > .input-group-text {
            padding: $input-padding-y-sm $input-padding-x-sm;
            @include font-size($input-font-size-sm);
            line-height: $input-line-height-sm;
            @include border-radius($input-border-radius-sm);
          }
        }
      }
    }
    &.sidebarToggled {
      #sidebar-wrapper {
        height: 50vh;
        opacity: 1;
      }
    }
  }
}


#menu-toggle {
  color: $gray-100;
  font-size: 2em;
  cursor: pointer;
  &:focus {
    outline: 0;
  }
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;

    &.sidebarToggled {
      padding-left: $expanded-size;
      #sidebar-wrapper {
        width: $expanded-size;
      }
      #page-content-wrapper {
        position: absolute;
        margin-right: -$expanded-size;
      }
    }
  }

  #sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: $expanded-size;
    width: 0;
    height: 100%;
    margin-left: -$expanded-size;
    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    .container-fluid {
      width: $expanded-size;
      padding: 15px;
    }
  }

  #page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
  }

  #wrapper {
    padding-left: $expanded-size;
    &.sidebarToggled {
      padding-left: $collapsed-size;
      #sidebar-wrapper {
        width: $collapsed-size;
      }
      #page-content-wrapper {
        position: relative;
        margin-right: $collapsed-size;
      }
    }
  }

  #sidebar-wrapper {
    width: $expanded-size;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
}

#sidebar-wrapper {
  .input-group-text {
    background-color: $gray-900;
    border: 0;
    color: $gray-100;
  }
}
